<h1>Patients#index</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Number of Appointments</th>
  </tr>
<% @patients.each do |patient| %>
  <div id=<%= "patient_#{patient.id}" %>>
  <tr>
    <td><%= link_to patient.name, patient_path(patient) %></td>
    <td><%= patient.age %></td>
    <td><%= patient.appointments.count %></td>
  </tr>
  </div>
<% end %>
</table>


<ul>
<% @patients.each do |patient| %>
  <li>Name: <%= patient.name %> Number of Appointments: <%= patient.appointments.count%></li>
<% end %>
</ul>
